@use "sass:list";
@use "sass:map";
@use "./variables";
@use "./mixins";

$max-width: 1020px !default;

:host {
  display: block;

  max-width: var(--max-width, 1000px);

  @each $size in map.keys(variables.$columns) {
    --mdc-layout-grid-margin-#{$size}: #{map.get(
        variables.$default-margin,
        $size
      )};
    --mdc-layout-grid-gutter-#{$size}: #{map.get(
        variables.$default-gutter,
        $size
      )};
    --mdc-layout-grid-column-width-#{$size}: #{map.get(
        variables.$column-width,
        $size
      )};
  }
  @each $size in map.keys(variables.$columns) {
    @include mixins.media-query_($size) {
      $margin: map.get(variables.$default-margin, $size);
      @include mixins.layout-grid($size, $margin, variables.$max-width);
    }
  }
}
:host([align="left"]) {
  margin-right: auto;
  margin-left: 0;
}

:host([align="right"]) {
  margin-right: 0;
  margin-left: auto;
}
